html {
	overflow: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/** scroll style */
.gundongtiao::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.gundongtiao::-webkit-scrollbar-track {
	background-color: #F7F3F7;
}

.gundongtiao::-webkit-scrollbar-thumb {
	background-color: #BDBEBD;
}
/** scroll style end. */

/** 左边是树时，对应的右边的div样式 */
.layout_right_content {
	margin-left: 190px;
	padding-left: 10px;
	padding-top: 0px;
	height: 95%;
	min-height: 90%;
	/*	overflow: auto;　*/
}